In [9]:
import pandas as pd

# Load both CSV files into DataFrames
df_filed = pd.read_csv('JP22_EvictionFiled_Jan20Sep1524_RAW.csv')
#df_judge = pd.read_csv('Post_DEBTPilot_Batch_Judge1_Sept10_RAW.csv')

# Combine the two DataFrames, prioritizing df_judge in case of duplicate 'Case Number'
#df_combined = pd.concat([df_filed, df_judge], ignore_index=True)

# Remove duplicates, keeping the last occurrence (which will be from df_judge if there's a conflict)
#df_combined = df_combined.drop_duplicates(subset='Case Number', keep='last')
df_combined = df_filed
# Display the first few rows of the deduplicated DataFrame
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6816 entries, 0 to 6815
Data columns (total 71 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Case Number                    6816 non-null   int64
 1   Case Type                      6816 non-null   object
 2   Case Subtype                   6816 non-null   object
 3   Case File Date                 6816 non-null   object
 4   Style Of Case                  6816 non-null   object
 5   Nature of Claim                6776 non-null   object
 6   Claim Amount                   6768 non-null   float64
 7   Case Status                    6816 non-null   object
 8   Plaintiff Name                 6816 non-null   object
 9   Plaintiff Addr Line 1          5897 non-null   object
 10  Plaintiff Addr Line 2          199 non-null    object
 11  Plaintiff Addr City            5899 non-null   object
 12  Plaintiff Addr State           5899 non-null   object
 13  Plaintiff Addr ZIP 1           5899 non-null   object
 14  Plaintiff Atty Name            461 non-null    object
 15  Plaintiff Atty Addr 1          459 non-null    object
 16  Plaintiff Atty Addr 2          56 non-null     object
 17  Plaintiff Atty City            462 non-null    object
 18  Plaintiff Atty State           462 non-null    object
 19  Plaintiff Atty ZIP 1           462 non-null    object
 20  Defendant Name                 6816 non-null   object
 21  Defendant Addr Line 1          6811 non-null   object
 22  Defendant Addr Line 2          370 non-null    object
 23  Defendant Addr City            6816 non-null   object
 24  Defendant Addr State           6816 non-null   object
 25  Defendant Addr ZIP 1           6816 non-null   object
 26  Defendant Atty Name            245 non-null    object
 27  Defendant Atty Addr 1          252 non-null    object
 28  Defendant Atty Addr 2          27 non-null     object
 29  Defendant Atty City            247 non-null    object
 30  Defendant Atty State           247 non-null    object
 31  Defendant Atty ZIP 1           247 non-null    object
 32  Second Plaintiff Name          86 non-null     object
 33  Second Plaintiff Addr Line 1   71 non-null     object
 34  Second Plaintiff Addr Line 2   1 non-null      object
 35  Second Plaintiff Addr City     71 non-null     object
 36  Second Plaintiff Addr State    71 non-null     object
 37  Second Plaintiff Addr ZIP 1    71 non-null     float64
 38  Second Plaintiff Atty Name     13 non-null     object
 39  Second Plaintiff Atty Addr 1   2 non-null      object
 40  Second Plaintiff Atty Addr 2   0 non-null      float64
 41  Second Plaintiff Atty City     2 non-null      object
 42  Second Plaintiff Atty State    2 non-null      object
 43  Second Plaintiff Atty ZIP 1    2 non-null      float64
 44  Second Defendant Name          1048 non-null   object
 45  Second Defendant Addr Line 1   918 non-null    object
 46  Second Defendant Addr Line 2   44 non-null     object
 47  Second Defendant Addr City     918 non-null    object
 48  Second Defendant Addr State    918 non-null    object
 49  Second Defendant Addr ZIP 1    918 non-null    object
 50  Second Defendant Atty Name     44 non-null     object
 51  Second Defendant Atty Addr 1   11 non-null     object
 52  Second Defendant Atty Addr 2   5 non-null      object
 53  Second Defendant Atty City     11 non-null     object
 54  Second Defendant Atty State    11 non-null     object
 55  Second Defendant Atty ZIP 1    11 non-null     float64
 56  Next Hearing Desc              6767 non-null   object
 57  Next Hearing Date              6767 non-null   object
 58  Next Hearing Time              6767 non-null   object
 59  Disposition Desc               6706 non-null   object
 60  Disposition Date               6706 non-null   object
 61  Judgment Text                  4494 non-null   object
 62  Judgment Date                  4494 non-null   object
 63  Judgment In Favor Of           4486 non-null   object
 64  Judgment Against               4489 non-null   object
 65  Judgment Amount                4494 non-null   float64
 66  Attorney Fees                  4494 non-null   float64
 67  Court Costs                    4494 non-null   float64
 68  Pre-Judg Int Rate              4494 non-null   float64
 69  Post-Judg Int Rate             4086 non-null   float64
 70  court_number                   6816 non-null   int64
dtypes: float64(10), int64(2), object(59)
memory usage: 3.7+ MB

In [11]:
import pandas as pd

# Load the CSV file into a DataFrame
df = df_combined

# Specify the column indices to be removed
columns_to_remove = [1, 2, 4, 5] + list(range(9, 14)) + list(range(15, 20)) + list(range(21, 26)) + list(range(27, 59)) + list(range(66, 71))

# Remove the columns by index
df_cleaned = df.drop(df.columns[columns_to_remove], axis=1)

# Display the first few rows of the cleaned DataFrame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6816 entries, 0 to 6815
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Number            6816 non-null   int64
 1   Case File Date         6816 non-null   object
 2   Claim Amount           6768 non-null   float64
 3   Case Status            6816 non-null   object
 4   Plaintiff Name         6816 non-null   object
 5   Plaintiff Atty Name    461 non-null    object
 6   Defendant Name         6816 non-null   object
 7   Defendant Atty Name    245 non-null    object
 8   Disposition Desc       6706 non-null   object
 9   Disposition Date       6706 non-null   object
 10  Judgment Text          4494 non-null   object
 11  Judgment Date          4494 non-null   object
 12  Judgment In Favor Of   4486 non-null   object
 13  Judgment Against       4489 non-null   object
 14  Judgment Amount        4494 non-null   float64
dtypes: float64(2), int64(1), object(12)
memory usage: 798.9+ KB

In [13]:
import pandas as pd

# Remove any trailing spaces from column names
df_cleaned.columns = df_cleaned.columns.str.strip()

# Create new binary columns based on the specified conditions

# JFP and JFD logic
df_cleaned['JFP'] = df_cleaned.apply(lambda row: 1 if row['Plaintiff Name'] == row['Judgment In Favor Of'] else (0 if row['Defendant Name'] == row['Judgment In Favor Of'] else None), axis=1)
df_cleaned['JFD'] = df_cleaned.apply(lambda row: 1 if row['Defendant Name'] == row['Judgment In Favor Of'] else (0 if row['Plaintiff Name'] == row['Judgment In Favor Of'] else None), axis=1)

# PATT logic
df_cleaned['PATT'] = df_cleaned['Plaintiff Atty Name'].apply(lambda x: 1 if pd.notna(x) and x.strip() != '' else 0)

# DATT logic
df_cleaned['DATT'] = df_cleaned['Defendant Atty Name'].apply(lambda x: 1 if pd.notna(x) and x.strip() != '' else 0)

# Display the first few rows to verify the results
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6816 entries, 0 to 6815
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Case Number           6816 non-null   int64
 1   Case File Date        6816 non-null   object
 2   Claim Amount          6768 non-null   float64
 3   Case Status           6816 non-null   object
 4   Plaintiff Name        6816 non-null   object
 5   Plaintiff Atty Name   461 non-null    object
 6   Defendant Name        6816 non-null   object
 7   Defendant Atty Name   245 non-null    object
 8   Disposition Desc      6706 non-null   object
 9   Disposition Date      6706 non-null   object
 10  Judgment Text         4494 non-null   object
 11  Judgment Date         4494 non-null   object
 12  Judgment In Favor Of  4486 non-null   object
 13  Judgment Against      4489 non-null   object
 14  Judgment Amount       4494 non-null   float64
 15  JFP                   4402 non-null   float64
 16  JFD                   4402 non-null   float64
 17  PATT                  6816 non-null   int64
 18  DATT                  6816 non-null   int64
dtypes: float64(4), int64(3), object(12)
memory usage: 1011.9+ KB

In [15]:
df_cleaned.to_csv('JP22_EV_FILED_2020_92024_CLEAN.csv', index=False)

In [33]:
import pandas as pd

# Load the CSV file into a new DataFrame
df_sept10 = pd.read_csv('Sept10OdysseyDebtClaimColumns.csv')

# Display the first few rows of the DataFrame to verify it loaded correctly
df_sept10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17222 entries, 0 to 17221
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           17222 non-null  object
 1   Event Type         17222 non-null  object
 2   Case #             17222 non-null  int64
 3   Style              17222 non-null  object
 4   Case Type          17222 non-null  object
 5   Case Subtype       0 non-null      float64
 6   Entered By         17222 non-null  object
 7   Event Status       0 non-null      float64
 8   Event Status Date  0 non-null      float64
 9   Event Date/Time    17222 non-null  object
 10  Judicial Officer   17222 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 1.4+ MB

In [35]:
import pandas as pd

# Load the CSV file into a new DataFrame
df_sept10 = pd.read_csv('Sept10OdysseyDebtClaimColumns.csv')

# Specify the columns to remove by their index
columns_to_remove = [0, 3, 4, 5, 6, 10]

# Remove the columns by index
df_sept10_cleaned = df_sept10.drop(df_sept10.columns[columns_to_remove], axis=1)

# Remove trailing spaces from column names
df_sept10_cleaned.columns = df_sept10_cleaned.columns.str.strip()

# Remove the time from 'Event Date/Time', keeping only the date (MM/DD/YYYY)
df_sept10_cleaned['Event Date/Time'] = df_sept10_cleaned['Event Date/Time'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)

# Display the first few rows of the cleaned DataFrame
df_sept10_cleaned.head()

,Event Type,Case #,Event Status,Event Status Date,Event Date/Time
0,Case - Answer Due,211200094943,NaN,NaN,06/16/2021
1,Case - Answer Due,211200095674,NaN,NaN,05/10/2021
2,Case - Answer Due,211200095777,NaN,NaN,05/10/2021
3,Case - Answer Due,211200166759,NaN,NaN,07/12/2021
4,Case - Answer Due,211200193061,NaN,NaN,07/12/2021

In [37]:
import pandas as pd
import numpy as np

# Create new columns based on 'Event Type' conditions and set corresponding 'Event Date/Time' with NaN for missing data

# Answer Due Date
df_sept10_cleaned['Answer Due Date'] = df_sept10_cleaned.apply(
    lambda row: row['Event Date/Time'] if row['Event Type'] == 'Case - Answer Due' else np.nan, axis=1
)

# Answer Filed Date
df_sept10_cleaned['Answer Filed Date'] = df_sept10_cleaned.apply(
    lambda row: row['Event Date/Time'] if row['Event Type'] == 'Case - Answer Filed' else np.nan, axis=1
)

# Service Return Date
df_sept10_cleaned['Service Return Date'] = df_sept10_cleaned.apply(
    lambda row: row['Event Date/Time'] if row['Event Type'] == 'Case - Service Return' else np.nan, axis=1
)

# Alt Service Authorized Date
df_sept10_cleaned['Alt Service Authorized Date'] = df_sept10_cleaned.apply(
    lambda row: row['Event Date/Time'] if row['Event Type'] == 'Case - Order-Authorizing Alternative Service 501.2' else np.nan, axis=1
)

# Display the first few rows of the updated DataFrame to verify the new columns
df_sept10_cleaned.head()

,Event Type,Case #,Event Status,Event Status Date,Event Date/Time,Answer Due Date,Answer Filed Date,Service Return Date,Alt Service Authorized Date
0,Case - Answer Due,211200094943,NaN,NaN,06/16/2021,06/16/2021,NaN,NaN,NaN
1,Case - Answer Due,211200095674,NaN,NaN,05/10/2021,05/10/2021,NaN,NaN,NaN
2,Case - Answer Due,211200095777,NaN,NaN,05/10/2021,05/10/2021,NaN,NaN,NaN
3,Case - Answer Due,211200166759,NaN,NaN,07/12/2021,07/12/2021,NaN,NaN,NaN
4,Case - Answer Due,211200193061,NaN,NaN,07/12/2021,07/12/2021,NaN,NaN,NaN

In [39]:
# Remove the specified columns
df_sept10_cleaned = df_sept10_cleaned.drop(columns=['Event Type', 'Event Status', 'Event Date/Time', 'Event Status Date'])

# Display the first few rows of the updated DataFrame to verify the columns were removed
df_sept10_cleaned.head()

,Case #,Answer Due Date,Answer Filed Date,Service Return Date,Alt Service Authorized Date
0,211200094943,06/16/2021,NaN,NaN,NaN
1,211200095674,05/10/2021,NaN,NaN,NaN
2,211200095777,05/10/2021,NaN,NaN,NaN
3,211200166759,07/12/2021,NaN,NaN,NaN
4,211200193061,07/12/2021,NaN,NaN,NaN

In [41]:
import pandas as pd

# Group by 'Case #' and merge rows, giving priority to non-NaN values
df_sept10_cleaned = df_sept10_cleaned.groupby('Case #', as_index=False).first()

# Display the first few rows of the merged DataFrame to verify the changes
df_sept10_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8524 entries, 0 to 8523
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Case #                       8524 non-null   int64
 1   Answer Due Date              3809 non-null   object
 2   Answer Filed Date            2622 non-null   object
 3   Service Return Date          8244 non-null   object
 4   Alt Service Authorized Date  1655 non-null   object
dtypes: int64(1), object(4)
memory usage: 333.1+ KB

In [45]:
import pandas as pd

# Check the column names to identify any potential discrepancies
print(df_cleaned.columns)
print(df_sept10_cleaned.columns)

# If the 'Case Number' column has a different name, rename it accordingly in both dataframes
df_cleaned = df_cleaned.rename(columns={'Case #': 'Case Number'})
df_sept10_cleaned = df_sept10_cleaned.rename(columns={'Case #': 'Case Number'})

# Ensure both 'Case Number' columns are of the same type (string/object)
df_cleaned['Case Number'] = df_cleaned['Case Number'].astype(str)
df_sept10_cleaned['Case Number'] = df_sept10_cleaned['Case Number'].astype(str)

# Select only the necessary columns from df_sept10_cleaned
columns_to_merge = ['Case Number', 'Answer Due Date', 'Answer Filed Date', 'Service Return Date', 'Alt Service Authorized Date']

# Merge df_cleaned with df_sept10_cleaned on 'Case Number'
df_cleaned = pd.merge(df_cleaned, df_sept10_cleaned[columns_to_merge], on='Case Number', how='left')

# If '_x' and '_y' columns exist, combine them, otherwise keep the newly merged columns
if 'Answer Due Date_x' in df_cleaned.columns and 'Answer Due Date_y' in df_cleaned.columns:
    df_cleaned['Answer Due Date'] = df_cleaned['Answer Due Date_y'].combine_first(df_cleaned['Answer Due Date_x'])
    df_cleaned['Answer Filed Date'] = df_cleaned['Answer Filed Date_y'].combine_first(df_cleaned['Answer Filed Date_x'])
    df_cleaned['Service Return Date'] = df_cleaned['Service Return Date_y'].combine_first(df_cleaned['Service Return Date_x'])
    df_cleaned['Alt Service Authorized Date'] = df_cleaned['Alt Service Authorized Date_y'].combine_first(df_cleaned['Alt Service Authorized Date_x'])

    # Drop the extra _x and _y columns
    df_cleaned = df_cleaned.drop(columns=['Answer Due Date_x', 'Answer Due Date_y', 'Answer Filed Date_x', 'Answer Filed Date_y', 
                                          'Service Return Date_x', 'Service Return Date_y', 'Alt Service Authorized Date_x', 'Alt Service Authorized Date_y'])

# Display the first few rows of the updated df_cleaned to verify the changes
df_cleaned.info()

Index(['Case Number', 'Case File Date', 'Claim Amount', 'Case Status',
       'Plaintiff Name', 'Plaintiff Atty Name', 'Defendant Name',
       'Defendant Atty Name', 'Disposition Desc', 'Disposition Date',
       'Judgment Text', 'Judgment Date', 'Judgment In Favor Of',
       'Judgment Against', 'Judgment Amount', 'JFP', 'JFD', 'PATT', 'DATT'],
      dtype='object')
Index(['Case #', 'Answer Due Date', 'Answer Filed Date', 'Service Return Date',
       'Alt Service Authorized Date'],
      dtype='object')

,Case Number,Case File Date,Claim Amount,Case Status,Plaintiff Name,Plaintiff Atty Name,Defendant Name,Defendant Atty Name,Disposition Desc,Disposition Date,...,Judgment Against,Judgment Amount,JFP,JFD,PATT,DATT,Answer Due Date,Answer Filed Date,Service Return Date,Alt Service Authorized Date
0,231200002406,01/03/2023,3225.48,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Angel, Andrea","Migliaccio, Christopher",NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,01/25/2023,01/25/2023,01/11/2023,None
1,231200002408,01/03/2023,1821.98,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Moran, Samuel",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,01/24/2023,None,01/10/2023,None
2,231200002411,01/03/2023,1963.43,Dismissed,"CITIBANK, N.A.","Ford, Joshua W","Bender, Kimberly",NaN,Non-suited or Dismissed by Plaintiff (OCA),02/09/2023,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN
3,231200002413,01/03/2023,3325.02,Disposed,"CAPITAL ONE, N.A.","Moss, Michael A","Pena, Jaime","Johnson, Jonathon Chadwick",Agreed Judgment (OCA),02/26/2024,...,"Pena, Jaime",3325.02,1.0,0.0,1,1,01/25/2023,01/16/2024,01/11/2023,None
4,231200002414,01/03/2023,5798.67,Dismissed,"CAPITAL ONE, N.A.","Teal, Amber","Martinez, Obed",NaN,Non-suited or Dismissed by Plaintiff (OCA),02/08/2023,...,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN

In [47]:
# Convert all NaN values to None
df_cleaned = df_cleaned.where(pd.notna(df_cleaned), None)

# Display the first few rows to verify the change
df_cleaned.head()

,Case Number,Case File Date,Claim Amount,Case Status,Plaintiff Name,Plaintiff Atty Name,Defendant Name,Defendant Atty Name,Disposition Desc,Disposition Date,...,Judgment Against,Judgment Amount,JFP,JFD,PATT,DATT,Answer Due Date,Answer Filed Date,Service Return Date,Alt Service Authorized Date
0,231200002406,01/03/2023,3225.48,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Angel, Andrea","Migliaccio, Christopher",None,None,...,None,NaN,NaN,NaN,1,1,01/25/2023,01/25/2023,01/11/2023,None
1,231200002408,01/03/2023,1821.98,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Moran, Samuel",None,None,None,...,None,NaN,NaN,NaN,1,0,01/24/2023,None,01/10/2023,None
2,231200002411,01/03/2023,1963.43,Dismissed,"CITIBANK, N.A.","Ford, Joshua W","Bender, Kimberly",None,Non-suited or Dismissed by Plaintiff (OCA),02/09/2023,...,None,NaN,NaN,NaN,1,0,None,None,None,None
3,231200002413,01/03/2023,3325.02,Disposed,"CAPITAL ONE, N.A.","Moss, Michael A","Pena, Jaime","Johnson, Jonathon Chadwick",Agreed Judgment (OCA),02/26/2024,...,"Pena, Jaime",3325.02,1.0,0.0,1,1,01/25/2023,01/16/2024,01/11/2023,None
4,231200002414,01/03/2023,5798.67,Dismissed,"CAPITAL ONE, N.A.","Teal, Amber","Martinez, Obed",None,Non-suited or Dismissed by Plaintiff (OCA),02/08/2023,...,None,NaN,NaN,NaN,1,0,None,None,None,None

In [49]:
import pandas as pd

# Ensure the relevant date columns are in datetime format
df_cleaned['Case File Date'] = pd.to_datetime(df_cleaned['Case File Date'], errors='coerce')
df_cleaned['Answer Filed Date'] = pd.to_datetime(df_cleaned['Answer Filed Date'], errors='coerce')
df_cleaned['Answer Due Date'] = pd.to_datetime(df_cleaned['Answer Due Date'], errors='coerce')
df_cleaned['Disposition Date'] = pd.to_datetime(df_cleaned['Disposition Date'], errors='coerce')

# Create 'TimeToAnswer' column: number of days between 'Case File Date' and 'Answer Filed Date'
df_cleaned['TimeToAnswer'] = (df_cleaned['Answer Filed Date'] - df_cleaned['Case File Date']).dt.days

# Create 'AnswerLate' column: 1 if 'Answer Filed Date' is after 'Answer Due Date', 0 if before, NaN if either is blank
df_cleaned['AnswerLate'] = df_cleaned.apply(
    lambda row: 1 if pd.notna(row['Answer Filed Date']) and pd.notna(row['Answer Due Date']) and row['Answer Filed Date'] > row['Answer Due Date']
    else (0 if pd.notna(row['Answer Filed Date']) and pd.notna(row['Answer Due Date']) and row['Answer Filed Date'] <= row['Answer Due Date'] else None),
    axis=1
)

# Create 'TimeToDispose' column: number of days between 'Case File Date' and 'Disposition Date'
df_cleaned['TimeToDispose'] = (df_cleaned['Disposition Date'] - df_cleaned['Case File Date']).dt.days

# Display the first few rows to verify the new columns
df_cleaned.head()

,Case Number,Case File Date,Claim Amount,Case Status,Plaintiff Name,Plaintiff Atty Name,Defendant Name,Defendant Atty Name,Disposition Desc,Disposition Date,...,JFD,PATT,DATT,Answer Due Date,Answer Filed Date,Service Return Date,Alt Service Authorized Date,TimeToAnswer,AnswerLate,TimeToDispose
0,231200002406,2023-01-03,3225.48,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Angel, Andrea","Migliaccio, Christopher",None,NaT,...,NaN,1,1,2023-01-25,2023-01-25,01/11/2023,None,22.0,0.0,NaN
1,231200002408,2023-01-03,1821.98,Active,"Portfolio Recovery Associates, Llc","Olsen-Zhang, Jessica","Moran, Samuel",None,None,NaT,...,NaN,1,0,2023-01-24,NaT,01/10/2023,None,NaN,NaN,NaN
2,231200002411,2023-01-03,1963.43,Dismissed,"CITIBANK, N.A.","Ford, Joshua W","Bender, Kimberly",None,Non-suited or Dismissed by Plaintiff (OCA),2023-02-09,...,NaN,1,0,NaT,NaT,None,None,NaN,NaN,37.0
3,231200002413,2023-01-03,3325.02,Disposed,"CAPITAL ONE, N.A.","Moss, Michael A","Pena, Jaime","Johnson, Jonathon Chadwick",Agreed Judgment (OCA),2024-02-26,...,0.0,1,1,2023-01-25,2024-01-16,01/11/2023,None,378.0,1.0,419.0
4,231200002414,2023-01-03,5798.67,Dismissed,"CAPITAL ONE, N.A.","Teal, Amber","Martinez, Obed",None,Non-suited or Dismissed by Plaintiff (OCA),2023-02-08,...,NaN,1,0,NaT,NaT,None,None,NaN,NaN,36.0

In [51]:
# Export df_cleaned as a CSV file
df_cleaned.to_csv('Pre_DebtPilot_Cases_Sept10_CLEAN.csv', index=False)

In [1]:
import pandas as pd

df = pd.read_csv('JP12_EvictionJudg_Jan23Sep1124_RAW.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561 entries, 0 to 1560
Data columns (total 71 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Case Number                    1561 non-null   int64
 1   Case Type                      1561 non-null   object
 2   Case Subtype                   1561 non-null   object
 3   Case File Date                 1561 non-null   object
 4   Style Of Case                  1561 non-null   object
 5   Nature of Claim                1551 non-null   object
 6   Claim Amount                   1550 non-null   float64
 7   Case Status                    1561 non-null   object
 8   Plaintiff Name                 1561 non-null   object
 9   Plaintiff Addr Line 1          905 non-null    object
 10  Plaintiff Addr Line 2          42 non-null     object
 11  Plaintiff Addr City            925 non-null    object
 12  Plaintiff Addr State           925 non-null    object
 13  Plaintiff Addr ZIP 1           925 non-null    object
 14  Plaintiff Atty Name            318 non-null    object
 15  Plaintiff Atty Addr 1          315 non-null    object
 16  Plaintiff Atty Addr 2          40 non-null     object
 17  Plaintiff Atty City            316 non-null    object
 18  Plaintiff Atty State           316 non-null    object
 19  Plaintiff Atty ZIP 1           316 non-null    object
 20  Defendant Name                 1561 non-null   object
 21  Defendant Addr Line 1          1533 non-null   object
 22  Defendant Addr Line 2          56 non-null     object
 23  Defendant Addr City            1558 non-null   object
 24  Defendant Addr State           1558 non-null   object
 25  Defendant Addr ZIP 1           1558 non-null   object
 26  Defendant Atty Name            95 non-null     object
 27  Defendant Atty Addr 1          96 non-null     object
 28  Defendant Atty Addr 2          7 non-null      object
 29  Defendant Atty City            95 non-null     object
 30  Defendant Atty State           95 non-null     object
 31  Defendant Atty ZIP 1           95 non-null     object
 32  Second Plaintiff Name          25 non-null     object
 33  Second Plaintiff Addr Line 1   16 non-null     object
 34  Second Plaintiff Addr Line 2   1 non-null      object
 35  Second Plaintiff Addr City     16 non-null     object
 36  Second Plaintiff Addr State    16 non-null     object
 37  Second Plaintiff Addr ZIP 1    16 non-null     float64
 38  Second Plaintiff Atty Name     10 non-null     object
 39  Second Plaintiff Atty Addr 1   0 non-null      float64
 40  Second Plaintiff Atty Addr 2   0 non-null      float64
 41  Second Plaintiff Atty City     0 non-null      float64
 42  Second Plaintiff Atty State    0 non-null      float64
 43  Second Plaintiff Atty ZIP 1    0 non-null      float64
 44  Second Defendant Name          197 non-null    object
 45  Second Defendant Addr Line 1   109 non-null    object
 46  Second Defendant Addr Line 2   5 non-null      object
 47  Second Defendant Addr City     110 non-null    object
 48  Second Defendant Addr State    110 non-null    object
 49  Second Defendant Addr ZIP 1    110 non-null    float64
 50  Second Defendant Atty Name     9 non-null      object
 51  Second Defendant Atty Addr 1   1 non-null      object
 52  Second Defendant Atty Addr 2   0 non-null      float64
 53  Second Defendant Atty City     1 non-null      object
 54  Second Defendant Atty State    1 non-null      object
 55  Second Defendant Atty ZIP 1    1 non-null      float64
 56  Next Hearing Desc              1559 non-null   object
 57  Next Hearing Date              1559 non-null   object
 58  Next Hearing Time              1559 non-null   object
 59  Disposition Desc               1561 non-null   object
 60  Disposition Date               1561 non-null   object
 61  Judgment Text                  1561 non-null   object
 62  Judgment Date                  1561 non-null   object
 63  Judgment In Favor Of           1561 non-null   object
 64  Judgment Against               1561 non-null   object
 65  Judgment Amount                1561 non-null   float64
 66  Attorney Fees                  1561 non-null   float64
 67  Court Costs                    1561 non-null   float64
 68  Pre-Judg Int Rate              1561 non-null   float64
 69  Post-Judg Int Rate             1417 non-null   float64
 70  court_number                   1561 non-null   int64
dtypes: float64(15), int64(2), object(54)
memory usage: 866.0+ KB

In [3]:
# Specify the column indices to be removed
columns_to_remove = [1, 2, 4, 5] + list(range(9, 14)) + list(range(15, 20)) + list(range(21, 26)) + list(range(27, 59)) + list(range(66, 71))

# Remove the columns by index
df_cleaned = df.drop(df.columns[columns_to_remove], axis=1)

# Display the first few rows of the cleaned DataFrame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561 entries, 0 to 1560
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Number            1561 non-null   int64
 1   Case File Date         1561 non-null   object
 2   Claim Amount           1550 non-null   float64
 3   Case Status            1561 non-null   object
 4   Plaintiff Name         1561 non-null   object
 5   Plaintiff Atty Name    318 non-null    object
 6   Defendant Name         1561 non-null   object
 7   Defendant Atty Name    95 non-null     object
 8   Disposition Desc       1561 non-null   object
 9   Disposition Date       1561 non-null   object
 10  Judgment Text          1561 non-null   object
 11  Judgment Date          1561 non-null   object
 12  Judgment In Favor Of   1561 non-null   object
 13  Judgment Against       1561 non-null   object
 14  Judgment Amount        1561 non-null   float64
dtypes: float64(2), int64(1), object(12)
memory usage: 183.1+ KB

In [5]:
import pandas as pd

# Remove any trailing spaces from column names
df_cleaned.columns = df_cleaned.columns.str.strip()

# Create new binary columns based on the specified conditions

# JFP and JFD logic
df_cleaned['JFP'] = df_cleaned.apply(lambda row: 1 if row['Plaintiff Name'] == row['Judgment In Favor Of'] else (0 if row['Defendant Name'] == row['Judgment In Favor Of'] else None), axis=1)
df_cleaned['JFD'] = df_cleaned.apply(lambda row: 1 if row['Defendant Name'] == row['Judgment In Favor Of'] else (0 if row['Plaintiff Name'] == row['Judgment In Favor Of'] else None), axis=1)

# PATT logic
df_cleaned['PATT'] = df_cleaned['Plaintiff Atty Name'].apply(lambda x: 1 if pd.notna(x) and x.strip() != '' else 0)

# DATT logic
df_cleaned['DATT'] = df_cleaned['Defendant Atty Name'].apply(lambda x: 1 if pd.notna(x) and x.strip() != '' else 0)

# Display the first few rows to verify the results
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561 entries, 0 to 1560
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Case Number           1561 non-null   int64
 1   Case File Date        1561 non-null   object
 2   Claim Amount          1550 non-null   float64
 3   Case Status           1561 non-null   object
 4   Plaintiff Name        1561 non-null   object
 5   Plaintiff Atty Name   318 non-null    object
 6   Defendant Name        1561 non-null   object
 7   Defendant Atty Name   95 non-null     object
 8   Disposition Desc      1561 non-null   object
 9   Disposition Date      1561 non-null   object
 10  Judgment Text         1561 non-null   object
 11  Judgment Date         1561 non-null   object
 12  Judgment In Favor Of  1561 non-null   object
 13  Judgment Against      1561 non-null   object
 14  Judgment Amount       1561 non-null   float64
 15  JFP                   1507 non-null   float64
 16  JFD                   1507 non-null   float64
 17  PATT                  1561 non-null   int64
 18  DATT                  1561 non-null   int64
dtypes: float64(4), int64(3), object(12)
memory usage: 231.8+ KB

In [7]:
df_cleaned.to_csv('JP12_EvictionJudg_Jan23_Sept112024_CLEAN', index=False)